*.vs*
*.idea*
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*Saved
*Intermediate
*Plugins/*/Intermediate
*DerivedDataCache
*__ExternalActors__*
*__ExternalObjects__*
*_Instancing*
*enc_temp_*
*Build
*RiderLink*
Binaries/Win64/B12_Test_LaurelennSg-Win64-Shipping.pdb
